/* header.component.css */

/* Header Container */
.header {
    background-color: #090B10;
    color: #fff;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px; 
  }
  
  /* Logo */
  .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  /* Navigation */
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-item a:hover {
    color: #C70039 ; 
  }

  .nav-item.contact a {
    border: 1px solid #C70039 ;

    padding: 5px 10px;
    border-radius: 5px; 
  }
  
  
  .nav-item.contact a:hover {
    background-color: #C70039 ;
    color: white;
  }