<header class="header">
    <div class="header-container">
      <div class="logo">
        <a routerLink="/">Car rental Company</a>
      </div>
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-item"><a routerLink="">Home</a></li>
          <li class="nav-item"><a routerLink="/cars">Cars</a></li>
          <li class="nav-item"><a routerLink="/contact">Contact</a></li>
          <li class="nav-item contact"><a routerLink="/login">Contul Meu</a></li>
        </ul>
      </nav>
    </div>
  </header>
  